        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #ddecf8;
        }
        .container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .row .sub{
          justify-content: space-between;
      }
        span {
            float: right;
            font-size: 15px;
            padding-top: 10px;
            padding-right: 20px;
        }
        .section {
            flex: 1;
            margin-right: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            background-color: #fff;
            margin-top: 20px;
        }
        
        .sub {
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;

        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color:  #eaf5fe;
        }
        .selectable {
            cursor: pointer;
            transition: background-color 0.3s;
          }
          
        .selectable:hover {
            background-color: #f5f7f8;
            color: #000000;
        }
          
        .selectable.active {
            background-color: #5ca5f3; /* Color de fondo para la fila activa */
          color: white; /* Texto en blanco */
          }
          
        .scrollable {
            display: block;
            max-height: 180px; /* Ajusta la altura según lo necesites */
            overflow-y: auto; /* Scroll solo en el eje vertical */
            overflow-x: hidden; /* Evita el scroll horizontal */
          }
        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed; /* Mantiene el ancho de las columnas alineado */
        }
        @media (max-width: 1300px) { /* Ajusta el tamaño según lo necesites */
            .row {
              display: block; 
        }
    }